<app-home [noIsMyProfilePage]="true" [isHomePage]="true"></app-home>
<div class="container-profile">
    <div class="title-my-profile">
        Perfil da Empresa/Usuario
    </div>
    <div class="info-profile">
        <div class="box-photo">
            <div class="profile-photo"></div>
            <button class="btn button-pattern">Editar Perfil</button>
        </div>
        <div class="box-info1">
            <div class="info-personal">
                <div class="info-description">
                    <p><span>Nome: </span>Jefferson</p>
                </div>
                <div class="info-description">
                    <p><span>Email: </span>Jefferson@gmail.com</p>
                </div>
                <div class="info-description">
                    <p><span>Contato: </span>81 8390</p>
                </div>
                <div class="info-description">
                    <p><span>CPF: </span>123.123</p>
                </div>
                <div class="info-description">
                    <p><span>Idade: </span> 19</p>
                </div>
            </div>
            <div class="info-professional">
                <div class="info-description">
                    <p><span>Empresa: </span> 19</p>
                </div>
                <div class="info-description">
                    <p><span>Cargo: </span> 19</p>
                </div>
                <div class="info-description">
                    <p><span>Disponibilidade: </span> 19</p>
                </div>
            </div>
        </div>
        <div class="box-info2">
            <div class="info-personal">
                <div class="info-description">
                    <p><span>Nacionalidade: </span> Brasil</p>
                </div>
                <div class="info-description">
                    <p><span>Estado: </span> Pernambuco</p>
                </div>
            </div>
            <div class="import-curriculum">
                <button class="btn button-pattern">Importar curriculo</button>
            </div>
        </div>
    </div>
</div>
<div class="separator-header"></div>
