<div class="container-recomendation">
    <div class="box-title">
        <span class="title-recomendation">RECOMENDAÇÃO DE PESSOAS/VAGAS PARA VOCÊ</span>
    </div>
    <div>
        <div class="box-recomendation" *ngFor="let user of recomendationUsers">
            <div class="info-profile">
                <div class="recomentation-photo">
                    <div class="profile-photo"></div>
                </div>
                <div class="recomentation-info">
                    <p class="title-profile">{{ user.title }}</p>
                    <p><span>Nome: </span>{{ user.name }}</p>
                    <p><span>Periodo: </span>{{ user.period }}</p>
                </div>
            </div>    
            <div class="recomentation-button">
                <button class="btn button-pattern">Ver perfil</button>
                <p><span>Disponibilidade: </span> {{ user.availability }}</p>
            </div>
        </div>
    </div>
</div>