<div class="container-recomendation">
    <div class="box-title">
        <span class="title-recomendation">RECOMENDAÇÃO DE PESSOAS/VAGAS PARA VOCÊ</span>
    </div>
    <div>
        <div class="box-recomendation" *ngFor="let user of recomendationUsers">
            <div class="info-profile">
                <div class="recomentation-photo">
                    <div class="profile-photo"></div>
                </div>
                <div class="recomentation-info" *ngIf="!isStudent">
                    <p class="title-profile">{{ user.title }}</p>
                    <p><span>Nome: </span>{{ user.name }}</p>
                    <p><span>Periodo: </span>{{ user.period }}</p>
                </div>
                <div class="recomentation-info" *ngIf="isStudent">
                    <p class="title-profile">{{ user.jobName }}</p>
                    <p><span>Empresa: </span>{{ user.companyName }}</p>
                    <p><span>Salário: </span>{{ user.salary }}</p>
                </div>
            </div>    
            <div class="recomentation-button">
                <button *ngIf="!isStudent" class="btn button-pattern" (click)="openModalViewProfile(user)">Ver mais</button>
                <p *ngIf="!isStudent">
                    <span>
                        Disponibilidade: 
                    </span> 

                    {{ user.availability }}
                </p>

                <button *ngIf="isStudent" class="btn button-pattern" (click)="openModalVacancy(user)">Ver mais</button>
                <p *ngIf="isStudent">
                    <span>
                        Disponibilidade: 
                    </span> 

                    {{ user.turn }}
                </p>
            </div>
        </div>
    </div>
</div>