<div class="container-recomendation">
    <div class="box-title">
        <span class="title-recomendation">RECOMENDAÇÃO DE PESSOAS/VAGAS PARA VOCÊ</span>
    </div>
    <div>
        <div class="box-recomendation" *ngFor="let x of count">
            <div class="info-profile">
                <div class="recomentation-photo">
                    <div class="profile-photo"></div>
                </div>
                <div class="recomentation-info">
                    <p class="title-profile">Desenvolvedor Full-stack WEB</p>
                    <p><span>Nome: </span>Jefferson Nascimento</p>
                    <p><span>Periodo: </span>5ª periodo</p>
                </div>
            </div>    
            <div class="recomentation-button">
                <button class="btn button-pattern">Ver perfil</button>
                <p><span>Disponibilidade: </span>Remoto</p>
            </div>
        </div>
    </div>
</div>