<div class="background">
  <div class="container-view-profile">
      <div class="content-title">
          <h2 class="title"> Perfil do usuario </h2>
      </div>
      <div class="content-photo">
          <div class="profile-photo"></div>
      </div>

      <div class="separator-header"></div>

      <div class="content-info">
          <div class="box-personal">
              <div class="info-description">
                  <p><span>Titulo da vaga: </span> Desenvolvedor Full-Stack Web Java e Angular  </p>
              </div>
              <div class="info-description">
                  <p><span>Empresa: </span> Teste </p>
              </div>
              <div class="info-description">
                  <p><span>Email: </span> Teste </p>
              </div>
              <div class="info-description">
                  <p><span>Salário: </span> Teste </p>
              </div>
              <div class="info-description">
                  <p><span>Turno: </span> Teste </p>
              </div>
              <div class="info-description">
                <p><span>Disponibilidade: </span> Teste </p>
            </div>
          </div>
          <div class="box-description">
              <div class="block-description">
                  <span>Descrição da vaga</span>
                  <p>descriçslafoikadjhnfoabsdiujfbakdjfbakjhdfbakjsdfkljsfbakjsfbkajbption</p>
              </div>
          </div>
      </div>
      <div class="separator-header"></div>
      <div>
        <button class="btn button-pattern">Aplicar para a vaga</button>
      </div>
  </div>
</div>    