<div class="container-image">
    <div class="content-title">
        <h3 class="title">
            Encontre o Emprego dos seus sonhos
        </h3>
        <p class="sub-title">
            Somos o site mais procurado entre os universitarios de todo o país
        </p>
    </div>
    <div class="content-search">
        <div class="input-group mb-3">
            <input type="text" class="form-control input-search" placeholder="Digite a vaga que você está buscando" 
                   aria-label="Digite a vaga que você está buscando" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="button-pattern" type="button">Search</button>
            </div>
        </div>
    </div>
</div>