<div class="container-register">
    <div class="content-register">
        <h1>Registre-se</h1>
        <mat-form-field appearance="fill">
          <mat-label>Indentifique-se</mat-label>
          <mat-select [(value)]="identification">
            <mat-option>Selecione uma opção</mat-option>
            <mat-option value="company">Empresa</mat-option>
            <mat-option value="student">Aluno</mat-option>
            <mat-option value="others">Outros</mat-option>
          </mat-select>
        </mat-form-field>
    </div>
    <div class="container-form">
        <form class="form">
            <div class="form-1">
                <mat-form-field class="" appearance="fill">
                  <mat-label>Login</mat-label>
                  <input matInput name="login" placeholder="Digite seu Login">
                </mat-form-field>
                <mat-form-field class="" appearance="fill">
                  <mat-label>Email</mat-label>
                  <input matInput name="email" placeholder="Digte seu Email" >
                </mat-form-field>
                <mat-form-field class="" appearance="fill">
                  <mat-label>Contato</mat-label>
                  <input matInput name="contact" placeholder="Digite seu celular ou telefone" >
                </mat-form-field>
                <mat-form-field class="" appearance="fill">
                  <mat-label>CPF/CNPJ</mat-label>
                  <input matInput name="identity" placeholder="CNPJ para empresas/CPF alunos" >
                </mat-form-field>
                <mat-form-field class="" appearance="fill">
                  <mat-label>Idade</mat-label>
                  <input matInput name="age" placeholder="Digite sua idade" >
                </mat-form-field>
            </div>
            <div class="form-2">
                <mat-form-field class="" appearance="fill">
                  <mat-label>Empresa/Instituição</mat-label>
                  <input matInput name="organization" placeholder="Digite sua empresa ou instituição" >
                </mat-form-field>
                <mat-form-field class="" appearance="fill">
                  <mat-label>Cargo/Periodo</mat-label>
                  <input matInput name="function" placeholder="Digite seu cargo ou Periodo">
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Disponibilidade</mat-label>
                    <mat-select [(value)]="availability">
                        <mat-option>Selecione uma opção</mat-option>
                        <mat-option value="company">Remoto</mat-option>
                        <mat-option value="student">Presencial</mat-option>
                        <mat-option value="others">Hibrido</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="" appearance="fill">
                  <mat-label>Nacionalidade</mat-label>
                  <input matInput name="nationality" placeholder="Digite sua Nacionalidade">
                </mat-form-field>
                <mat-form-field class="" appearance="fill">
                  <mat-label>Estado</mat-label>
                  <input matInput name="state" placeholder="Digite seu estado">
                </mat-form-field>
            </div>
            <div class="buttons">
                <button class="btn btn-secudary">Voltar</button>
                <button class="btn btn-success">Registrar-se</button>
            </div>
        </form>
    </div>
</div>
