* {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    margin: initial !important;
}

.container-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.content-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.text-title {
    font-size: 35px;
    font-family: 'Numans';
}

.box-job {
    display: flex;
    justify-content: space-between;
    width: 900px;
    height: 90px;
    background-color: #F8F9FA;
    padding: 13px;
    margin-bottom: 10px;
}

.info-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 60px;
}

.job-photo {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: #CCC;
}

.job-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-right: 15px;
}

.title-profile {
    font-size: 18px;
    text-decoration: underline;
    text-transform: uppercase;
}

.job-button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.job-button button {
    margin: initial 
}

.job-info p span, .job-button p span {
    font-weight: bold;
}