<div class="container-nav">
    <nav class="content-nav">
        <div class="box-photo" (click)="showMenu()">
            <div class="profile-photo"></div>
            <i class="bi bi-chevron-down"></i>
            <span class="user-name">{{ name }}</span>
        </div>
        <div class="box-options">
            <label>
                <button (click)="openJobVacancy()" *ngIf="!isHomePage">
                    Abrir nova vaga
                </button>
            </label>

            <label>
                <button (click)="openMyProfile()" *ngIf="!isHomePage || !noIsMyProfilePage">
                    Meu perfil
                </button>
            </label>

            <label>
                <button (click)="openHome()" *ngIf="isHomePage || noIsMyProfilePage">
                    Home
                </button>
            </label>
        </div>
    </nav>
    <div class="content-menu" *ngIf="isOpenMenu">
        <div class="box-menu">
            <button (click)="openModalViewProfile()">
                Ver perfil
            </button>
            <button (click)="openModalEditProfile()">
                Editar perfil
            </button>
            <button (click)="logout()">
                Sair
            </button>
        </div>
    </div>
</div>
<div class="separator-header"></div>
<div *ngIf="!isHomePage">
    <div>
        <app-job-recomendation></app-job-recomendation>
    </div>
    <div class="job-search">
        <app-job-search></app-job-search>
    </div>
    <div class="list-jobs">
        <app-list-jobs></app-list-jobs>
    </div>
    <div class="job-search">
        <app-job-search></app-job-search>
    </div>
</div>